@import "/src/styles/breakpoints";
@import "/src/styles/mixins";
@import "/src/styles/colors";

.language_container {
  position: relative;
}

.language_btn {
  background-color: inherit;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// Dark

.language_btn_dark {
  color: $text-dark;

  &:hover {
    color: $button-hover-dark;
  }
}

// Light

.language_btn_light {
  color: $text-light;

  &:hover {
    color: $button-hover-light;
  }
}
