@font-face {
  font-family: 'Istok Web', sans-serif;
  src: url('./fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Istok Web', sans-serif;
  src: url('./fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: 700;
}
