@import "/src/styles/breakpoints";
@import "/src/styles/mixins";
@import "/src/styles/colors";
@import "/src/styles/fonts.scss";

.main_container {
  padding: 10px 20px;

  min-width: 320px;

  text-align: center;

  @include media-rules(tablet) {
    padding: 18px 24px;
  }

  @include media-rules(desktop) {
    padding: 18px 32px;
    margin-left: auto;
  }
}

.main_desc_table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 25px;
  margin-bottom: 35px;

  max-width: 630px;
}

.main_table_title {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.main_table_text {
  width: clamp(280px, 100%, 630px);
}

.main_desc_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 35px;
}

.main_img {
  width: clamp(250px, 45%, 630px);
  min-height: 310px;
  max-height: 520px;
  border-radius: 10px;
}

.main_img_engine {
  width: clamp(270px, 45%, 460px);
  height: clamp(270px, 45%, 460px);

  filter: drop-shadow(0 0 0.75rem $button-hover-dark);
}

.main_title {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.main_text {
}

.main_desc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  max-width: 630px;

  @include media-rules(tablet) {
    text-align: start;
  }
}

.main_gif_cont {
  margin: 0 auto;
  width: clamp(270px, 45%, 650px);
  height: clamp(280px, 45%, 380px);

  img {
    border-radius: 15px;
  }
}
