.first-element-container {
  justify-content: space-around;
  width: 100%;
  padding: 15px 0 15px 0;
  gap: 25px;
}

.first-element-img {
  width: 350px;
  height: 350px;
}

.first-element-desc {
  width: 350px;
  gap: 15px;
}

.first-element-cart {
  width: 350px;
  height: 350px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #6e6e6e3d;
}

.first-element-parag {
}
