@import "/src/styles/breakpoints";
@import "/src/styles/mixins";
@import "/src/styles/colors";
@import "/src/styles/fonts.scss";

// Dark

.dark {
  background-color: $background-dark;
  color: $text-dark;
}

// Light

.light {
  background-color: $background-light;
  color: $text-light;
}
