@import "/src/styles/breakpoints";
@import "/src/styles/mixins";
@import "/src/styles/colors";
@import "/src/styles/fonts.scss";

.footer_container {
  padding: 10px 20px;

  width: 100%;

  margin-top: 25px;

  @include media-rules(tablet) {
    padding: 18px 24px;
  }

  @include media-rules(desktop) {
    padding: 18px 32px;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    gap: 20px;

    @include media-rules(tablet) {
      flex-direction: row;
    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 8px;

    width: clamp(280px, 65%, 650px);

    .about_p {
      text-align: center;

      @include media-rules(tablet) {
        text-align: start;
      }
    }
  }

  .contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    @include media-rules(tablet) {
    }

    .social {
      display: flex;
      gap: 8px;

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 8px;

        cursor: pointer;

        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.viber {
  background-color: #fff;
  border-radius: 60%;
}

.whatsapp {
  background-color: #fff;
  border-radius: 50%;
}

// Dark

.footer_container_dark {
  background-color: $background-dark;
  color: $text-dark;

  box-shadow: 0px -4px 8px $border_shadow_dark;

  .social {
    div {
      &:hover {
        color: $button-hover-dark;
      }
    }
  }

  .telegram {
    border-radius: 50%;
    border: 1px solid grey;
  }
}

// Light

.footer_container_light {
  background-color: $background-light;
  color: $text-light;

  box-shadow: 0px -4px 8px $border_shadow_light;

  .social {
    div {
      &:hover {
        color: $button-hover-light;
      }
    }
  }
}
