@import "/src/styles/breakpoints";
@import "/src/styles/mixins";
@import "/src/styles/colors";
@import "/src/styles/fonts.scss";

.footer_container {
  margin: 0 auto;

  max-width: 1440px;
  padding: 10px 20px;

  @include media-rules(tablet) {
    padding: 18px 24px;
  }

  @include media-rules(desktop) {
    padding: 18px 32px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column-reverse;

    gap: 20px;

    @include media-rules(tablet) {
      flex-direction: row;
    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 8px;

    width: clamp(280px, 65%, 650px);

    .about_p {
      text-align: center;

      @include media-rules(tablet) {
        text-align: start;
      }
    }
  }

  .contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    @include media-rules(tablet) {
    }

    .social {
      display: flex;
      gap: 8px;

      @include media-rules(tablet) {
        flex-direction: column;
      }
    }
  }
}
